body{
    background-color: #d4e157;
}
h1,h2{
    position: relative;
    color: black;
    font-family: roboto;
    top: 5%;
}
#analysis{
    background-color: #ffff89;
    width: 20%;
    position: absolute;
    right: 40%;
    left: 40%;
    height: 100%;
    border-width: 5px;
}
#left{
    background-color: #8bc34a;
}
#right{
    background-color: #8bc34a;
}
#upload{
    background-color: #ffff89;
    width: 20%;
    position: absolute;
    right: 0px;
    height: 100%;
    border-width: 5px;
}
canvas{
    height: 20%;
    width: 60%;
    position: relative;
    top: 5%;
}
#header{
    background-color: #a0af22;
    position: absolute;
    width: 100%;
    left: 0px;
    right: 0px;
    height: 15%;
    top: 0px;
    text-align: center;
}
#root{
    text-align: center;
    position: absolute;
    top: 15%;
    height: 75%;
    bottom: 10%;
    width: 100%;
    left: 0px;
    right: 0px;
}
#report{
    display: none;
    text-align: center;
    position: absolute;
    top: 15%;
    height: 75%;
    bottom: 10%;
    width: 100%;
    left: 0px;
    right: 0px;
}
#footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 15%;
    left: 0px;
    right: 0px;
    background-color: #ffff89;
}
#documentText{
    background-color: #ffff89;
    bottom: 0px;
    height: 15%;
    position: fixed;
    overflow: scroll;
    resize: none;
    width: 20%;
}
